@charset 'UTF-8';

// This is example of SCSS

@import '~normalize.css';
@import 'index.legacy.css';

$mycolor: red;

$paragarphColor: black;

@if $env == 'development' {
  $paragarphColor: green;
} @else {
  $paragarphColor: yellow;
}

.app {
  background-color: $mycolor;
  transform: translateY(50px);
  height: 200px;

  h1 {
    display: flex;
  }

  p {
    color: $paragarphColor;
  }

}
