@mixin testmixin {
  color: yellow;
}

.myBase {
  background-color: green;
}

.templateComponent {
  composes: myBase;

  @include testmixin;

  font-style: italic;
}

:global {

  .app {
    background-color: brown;
    background-image: none;
  }
}
