<!DOCTYPE html>
<html class="noscript">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script src="<%= htmlWebpackPlugin.files.chunks.preflight.entry %>"></script>
  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.chunks.site.css %>">
</head>
<body>
  <div class="app"></div>
  <script>
    var dataReact = {};
  </script>
  <script async src="<%= htmlWebpackPlugin.files.chunks.site.entry %>"></script>
</body>
</html>
