{
  "presets": [
  	[
      "env",
    	{
        "targets": {
          "browsers": [
          	"> 1%",
          	"last 2 versions",
          	"Firefox ESR",
            "IE 11",
            "iOS > 7"
          ],
          "uglify": true
        },
        "useBuiltIns": true,
        "modules": false,
        "debug": false
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-function-bind",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "testing": {
      "presets": ["react-optimize"]
    },
    "staging": {
      "presets": ["react-optimize"]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
